body {
    margin: 0;
    font-family: Poppins, sans-serif;
    display: flex;
    background: #eef2f3;
}

.sidebar {
    width: 230px;
    background: #0b3a66;
    padding: 30px 20px;
    height: 100vh;
    color: white;
    box-shadow: 4px 0 15px rgba(0,0,0,0.3);
}

.gov-logo {
    width: 120px;
    margin-bottom: 20px;
}

.content {
    padding: 30px;
    width: 100%;
}

.card {
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 18px;
}

.glass {
    background: rgba(255,255,255,0.65);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    backdrop-filter: blur(10px);
}

iframe {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    border: none;
}

textarea {
    width: 100%;
    min-height: 110px;
    border-radius: 12px;
    border: 2px solid #ccc;
    padding: 12px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

textarea:focus {
    border-color: #0066cc;
}

.btn {
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.25s;
    color: white;
}

.approve {
    background: #2ecc71;
    margin-right: 10px;
}

.approve:hover {
    box-shadow: 0 6px 18px rgba(46,204,113,0.5);
}

.reject {
    background: #e74c3c;
}

.reject:hover {
    box-shadow: 0 6px 18px rgba(231,76,60,0.5);
}

.comments-box {
    padding: 12px;
    background: #fff;
    border-radius: 12px;
    max-height: 220px;
    overflow-y: auto;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.comment-item {
    padding: 10px 15px;
    background: #f2f6ff;
    border-left: 5px solid #0b3a66;
    border-radius: 8px;
    margin-bottom: 10px;
}
