body {
    margin: 0;
    font-family: Poppins, sans-serif;
    display: flex;
    background: #eef2f3;
}

.sidebar {
    width: 230px;
    background: #0b3a66;
    padding: 30px 20px;
    height: 100vh;
    color: white;
    box-shadow: 4px 0 15px rgba(0,0,0,0.3);
}

.gov-logo {
    width: 120px;
    margin-bottom: 20px;
}

.content {
    padding: 30px;
    width: 100%;
}

.card {
    margin: auto;
    padding: 25px;
    width: 70%;
    border-radius: 18px;
}

.glass {
    background: rgba(255,255,255,0.65);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    backdrop-filter: blur(10px);
}

h2 {
    margin-top: 0;
}

.drop-box {
    background: #ffffffcc;
    border: 3px dashed #0b3a66;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.drop-box:hover {
    background: #f0f7ff;
}

#fileInput {
    display: none;
}

#fileInfo {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

.btn {
    display: block;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 17px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.upload-btn {
    background: #ff741e;
}

.upload-btn:hover {
    box-shadow: 0 6px 18px rgba(30,144,255,0.5);
}
