<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Upload Document - Engineer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload_document.css') }}" />
</head>

<body>

<div class="sidebar">
    <img src="/static/images/image.jpg" class="gov-logo" alt="Gov Logo">
    <h2>Engineer Panel</h2>
    <p>Upload Document</p>
</div>

<div class="content">
    <div class="card glass">
        <h2>Upload PDF Document</h2>
       <form action="/upload_document" method="POST" enctype="multipart/form-data">

    <input type="file" name="document" accept="application/pdf" required>
    <button type="submit">Upload</button>
</form>

     
    </div>
</div>

<script src="{{ url_for('static', filename='upload.js') }}"></script>


</body>
</html>
